@tailwind base;

@tailwind components;

@tailwind utilities;

/* used for hero title */
@font-face {
	font-family: 'Salome';
	src: url('../public/fonts/Salome_Stencil_Italic.otf');
}

/* for projects details title and pages titles */
@font-face {
	font-family: 'Parking';
	src: url('../public/fonts/parking-regular-webfont.ttf');
}

/* text with 'priorities' */
@font-face {
	font-family: 'Argesta Courant';
	src: url('../public/fonts/argesta-display-regular-webfont.ttf');
}

/* basic text */
@font-face {
	font-family: 'Argesta';
	src: url('../public/fonts/argesta-headline-regular-webfont.ttf');
}
@font-face {
	font-family: 'Argesta Regular';
	src: url('../public/fonts/argesta-regular.otf');
}

p {
	font-family: 'Argesta', sans-serif;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
	font-family: 'Argesta Regular', sans-serif;
}

.project-title {
	font-family: 'Parking', sans-serif;
	font-size: 2.25rem;
}

button,
ul {
	font-family: 'Argesta';
}

label {
	font-family: 'Argesta Regular', sans-serif;
}

main-tabs {
	font-size: 1.25rem;
}
.thin {
	padding: 0.08rem;
}
